
#sidebar {
    background-color: #ffffff;
    padding: 10px;
    height: 100vh;
    width: 500px;
}

#detail {
    padding: 0px 10px;
}

li {
    display: inline;
    padding: 5px;
    padding-left: 10px;
}

ul {
    padding: 5px 0px;
    margin: 0px;
}

h1 {
    font-size: 32px;
    margin: 0px;
    margin-left: 5px;
}

hr {
    width: 100%;
}

nav {
    margin: 0px;
}

